<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hospital Management System</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body style="display: flex;">
	<th:block th:insert="Header.html"></th:block>

 <div class="main-content" style="margin-left: 250px; padding: 20px; width: 100%;">
        <div class="container">
            
        
<div>
    <h1 class="mb-4">Welcome to Hospital Management System</h1>
    <p>This system helps manage the hospital's day-to-day operations including patient registrations, appointment scheduling, doctor management, billing, and reporting. Use the side navigation bar to access different sections of the system.</p>
</div>

	</div>
    </div>
</body>
</html>
